<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baozi.demo">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.baozi.demo.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CityAt" />
        <activity android:name=".activity.SortAt" />
        <activity android:name=".activity.SwipeSortAt" />
        <activity android:name=".activity.CartAt" />
        <activity android:name=".activity.TBActivity" />
        <activity android:name=".activity.TestActivity" />
    </application>
</manifest>